.header {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  height: 52px;
  padding-top: 26px;
  width: 100%;
  background: transparent;
}

@media (max-width: 767px) {
  .header {
    padding-top: 18px;
  }

  .header__logo {
    width: 213px;
  }

}