.round-button {
  width: 44px;
  height: 44px;
  background: url("./assets/images/images/arrow.svg") no-repeat center var(--main-black);
  border-radius: 50%;
  transition: var(--transition);
}

.round-button:hover {
  background: url("./assets/images/images/arrow.svg") no-repeat center var(--main-yellow);
  transition: var(--transition);
}

.round-button:disabled {
  background: url("./assets/images/images/arrow.svg") no-repeat center #D6D6D6;
  pointer-events: none;
}

@media (max-width: 767px) {
  .round-button {
    width: 36px;
    height: 36px;
  }
}